<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="../static/css/common.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/aboutUs.css" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>环卫厢专用定向轮 - 十堰东帆物资贸易有限公司</title>
</head>
<body>
	<div class="pictureShowDiv">
	</div>
	<div class="header">
		<div class="hdTitle1">
			<span>十堰东帆物资贸易有限公司</span>	
		</div>
		<div class="hdTitle2">
			<span>环卫厢脚轮、车载收放机、车桥</span>
		</div>
	</div>
	<div class="menu">
		<a href="./index">首页</a>
		<a href="./produceList">产品展示</a>
		<a class="menuSelect" href="javascript:void(0)">关于我们</a>
		<a href="./contectUs">联系我们</a>
	</div>
	<div class="content">
		<div class="ctLeft">
			<div class="ctBoxStyle produceList">
				<p class="ctLtitle">产品分类</p>
				<a href="./pro1" target="_blank" title="万向轮">万向轮</a>
				<a href="./pro2" target="_blank" title="定向轮">定向轮</a>
				<a href="./pro3" target="_blank" title="收放机">收放机</a>
				<a href="./pro4" target="_blank" title="扬声器">扬声器</a>
				<a href="./pro5" target="_blank" title="车桥">车桥</a>
				<a href="./pro6" target="_blank" title="天线">天线</a>
			</div>
			<div class="ctBoxStyle contentMethod">
				<p class="ctLtitle">联系方式</p>
				<p class="contectDetail">联系人： 杨女士</p>
				<p class="contectDetail">电　话：13872782869</p>
				<p class="contectDetail">邮　箱：159855658@qq.com</p>
				<p class="contectDetail">地　址：</p>
			</div>
		</div>
		<div class="ctRight">
			<div class="aboutUsBox ctBoxStyle">
				<div class="aboutUsBoxTitle">
					<span class="AUBTName">关于我们</span>
				</div>
				<div class="aboutUsShow">
					<p>十堰东帆公司是一家专业生产加工及代理各类汽车配件的公司。</p>
					公司创建于2003年，公司以强大的生产能力以及优良的质量赢得了全国各地用户的广泛赞同。
					目前公司拥有厂区3个，员工240名，共占地2400亩。
					<p>主要生产环卫厢专用万向轮、各类汽车车桥以及车载MP3收放机，并与东风汽车有限责任公司、东风汽车公司襄樊基地、湖北世纪中远车辆厂、江淮汽车、陕重汽进行配套。</p>
					<p>欢迎来电咨询：13872782869 杨女士。</p>
				</div>	
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="FTLine1">
			<a href="/index">首页</a>
			<a href="/aboutUs">关于我们</a>
			<a href="/contectUs">联系我们</a>
		</div>
		<div class="FTLine2">
			<p>©2014 十堰东帆物资贸易有限公司 版权所有</p>
		</div>
	</div>
	<script type="text/javascript" rel="script" src="../static/js/produceList.js"></script>
</body>
</html>