<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="../static/css/common.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/produceShow.css" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>环卫厢专用定向轮 - 十堰东帆物资贸易有限公司</title>
</head>
<body>
	<div class="pictureShowDiv">
	</div>
	<div class="header">
		<div class="hdTitle1">
			<span>十堰东帆物资贸易有限公司</span>	
		</div>
		<div class="hdTitle2">
			<span>环卫厢脚轮、车载收放机、车桥</span>
		</div>
	</div>
	<div class="menu">
		<a href="./index">首页</a>
		<a href="./produceList">产品展示</a>
		<a href="./aboutUs">关于我们</a>
		<a href="./contectUs">联系我们</a>
	</div>
	<div class="content">
		<div class="ctLeft">
			<div class="ctBoxStyle produceList">
				<p class="ctLtitle">产品分类</p>
				<a href="./pro1"  target="_blank" title="万向轮">万向轮</a>
				<a href="javascript:void(0)" class="proListSelect" title="定向轮">定向轮</a>
				<a href="./pro3"  target="_blank" title="收放机">收放机</a>
				<a href="./pro4"  target="_blank" title="扬声器">扬声器</a>
				<a href="./pro5"  target="_blank" title="车桥">车桥</a>
				<a href="./pro6"  target="_blank" title="天线">天线</a>
			</div>
			<div class="ctBoxStyle contentMethod">
				<p class="ctLtitle">联系方式</p>
				<p class="contectDetail">联系人： 杨女士</p>
				<p class="contectDetail">电　话：13872782869</p>
				<p class="contectDetail">邮　箱：159855658@qq.com</p>
				<p class="contectDetail">地　址：</p>
			</div>
		</div>
		<div class="ctRight">
			<div class="produceShowBox ctBoxStyle">
				<div class="produceShowBoxTitle">
					<span class="PSBTName">产品详情</span>
				</div>
				<div class="produceShow">
					<p class="produceName">环卫厢专用定向轮</p>
					<div class="largePicShowBow">
					</div>
					<div class="ctRPSList">
						<a href="javascript:void(0)" class="toLeft"><</a>
						<a href="javascript:void(0)" class="toRight">></a>
						<div class="ctRHiddenBox">
							<div class="ctRListBox"></div>
						</div>
						
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="FTLine1">
			<a href="/index">首页</a>
			<a href="/aboutUs">关于我们</a>
			<a href="/contectUs">联系我们</a>
		</div>
		<div class="FTLine2">
			<p>©2014 十堰东帆物资贸易有限公司 版权所有</p>
		</div>
	</div>
	<script type="text/javascript" rel="script" src="../static/js/pro2.js"></script>
</body>
</html>